.main-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.noswipe-logo {
  width: 150px !important;
  height: 50px !important;
  margin: 20px 98px 30px 0;
}
/* events */
.event-box-title {
  text-align: left;
  font-weight: bold;
  font-size: 22px;
}
.event-box-subheader {
  color:white;
}
.event-box {
  display:flex;
  flex-direction: column;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1px black solid;
  border: 1px black solid; 
  background-image: linear-gradient(gray, white);
  border-radius:10px;
  padding: 20px;
}
.event-image img{
  width: 100%;
  padding: 20px;
  border-radius:10px;
}
.news-button {
  background-color: #bf3c3c;
  border: none;
}
.news-button:hover {
  background-color: black;
  border: none;
}
