
html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(20, 163, 173);
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

@media screen and (min-height: 400px) {
  .navbar{
    height: 40px
  }

}
.navbar{
  height: 10vh;
  min-height: 40px;
}
.main-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
}
.noswipe-logo {
  width: 150px !important;
  height: 50px !important;
  margin: 20px 98px 30px 0;
}
/* events */
.event-box-title {
  text-align: left;
  font-weight: bold;
  font-size: 22px;
}
.event-box-subheader {
  color:white;
}
.event-box {
  display:flex;
  flex-direction: column;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid; 
  background-image: linear-gradient(gray, white);
  border-radius:10px;
  padding: 20px;
}
.event-box img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding:5px;
  margin-top: 5px;
}
.news-button {
  background-color: #bf3c3c;
  border: none;
}
.news-button:hover {
  background-color: black;
  border: none;
}
.event-list-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-capacity-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border:1px solid black;
  margin-top:10px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  background-color: rgb(145, 143, 143);
  color:white;
  border-radius: 10px;
  width: 80%;
  font-size: 10px;
  gap:10px;
}
p {
  margin:0px;
  padding:0px;
}
img {
  padding:5px;
}
.btn {
  margin:5px;
}
.article-body-box {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.artice-title-box {
  padding:10px;
}