{% extends 'base.html' %}
{% block title %}Up{% endblock title %}

{% block content %}
    {% for event in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">
                    {{ event.title }}
                </span> &middot;
                <span class="text-muted">
                    by {{ event.author }} | {{ event.date }}
                </span>
            </div>
            <div class="card-body">
                {{ event.body }}
            </div>
            <div>
                {% load static %}
                <img src="{% static event.image %}" alt="">
            </div>
            <div class="card-footer text-center text-muted">
                <a href="{% url 'event_update' event.pk %}">Edit</a> |
                <a href="{% url 'event_delete' event.pk %}">Delete</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock content %}