{% extends 'base.html' %}
{% block title %}Up{% endblock title %}

{% block content %}
    {% for event in object_list %}
        <div class="event-box">
            <div>
                <div class="event-box-title">
                    <a class="link-dark" href="{% url 'event_detail' event.pk %}">{{ event.title }}</a>
                </div>
                <div class="event-box-subheader">
                    by {{ event.author }} | {{ event.date }}
                </div>
            </div>
            <div class="event-list-text">
                {{ event.body }}
            </div>
            <p> 
                <!-- spacer -->
            </p>
                {% if event.image %}
                <img src="{{ event.image.url }}" >
                {% endif %}
            <p>
                <!-- spacer -->
            </p>
        </div>
        <br>
    {% endfor %}
{% endblock content %}