{% extends 'base.html' %}
{% block title %}Up{% endblock title %}

{% block content %}
    {% for event in object_list %}
        <div class="event-box">
            <div>
                <div class="event-box-title">
                    {{ event.title }}
                </div>
                <div class="event-box-subheader">
                    by {{ event.author }} | {{ event.date }}
                </div>
            </div>
            <div>
                {{ event.body }}
            </div>
            <div class="event-image">
                {% if event.image %}
                <img src="{{ event.image.url }}" >
                {% endif %}
            </div>
            <div class="card-footer text-center text-muted">
                <a href="{% url 'event_update' event.pk %}">Edit</a> |
                <a href="{% url 'event_delete' event.pk %}">Delete</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock content %}